extends layout

block content
    div(class='header')
        a(class="link-header" href='/') X-MEME
        p A Crio project to memeify your life
    
        
    div(class='block')
        h2(class="meme-heading")= thismeme.name 
        h3(class="meme-caption")= thismeme.caption
        img(src=thismeme.memeurl, class='center' )