extends layout

block content
    div(class='header')
        a(class="link-header" href='/') X-MEME
        p A Crio project to memeify your life
    
    div(class="message")
        h1= 'Latest 100 Memes'
  
    a(id="toplink" href="#top") Back to top

    div(class="top")
        - var ct=0;
        for meme in topmemes.reverse()
            if ct == 100
                - break
            div(class="block")
                h2(class="meme-heading")= meme.name 
                h3(class="meme-caption")= meme.caption
                a(href='/memes/' + meme._id class="nostyle") 
                    img(src=meme.memeurl, class='center' )
                a(href="/memes/edit") 
                    button(type="button") Edit
            br    