@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

.header{
  text-align: center;
  background-color:#05386B;
  padding-top: 15px;
  padding-bottom: 15px;
  width:100%;
}

body{
  background-color: #5CDB95;;
  color:#EDF5E1;
  margin:0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: large;
}


.nostyle{
  all: revert;
}


a {
  background-color:#05386B;
  color: #EDF5E1;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color:#379683;
}

a:active {
  background-color: black;
}
a:hover {
  cursor: pointer;
}
.message{
  color:crimson;
  text-align: center;
}


.main {
  background-color: #FFF;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.details {
  padding-top: 40px;
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

.form1 {
  padding-top: 40px;
}



.un:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
  
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}



@media (max-width: 600px) {
  .main {
      border-radius: 0px;
  }
}

.back{
  text-align: center;
}

.top{
  text-align: center;

}
.block{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  background-color:antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  
}
.meme-heading{
  background-color:gold;
  text-align: center;
  padding: 10px 20px;
  color:#05386B;
}
.meme-caption{
  
  text-align: center;
  padding: 10px 20px;
  color:indianred;
  text-shadow: 2px 2px 8px lightcoral;
}

.center {
  max-height: 650px;
  width: 100%;
}

#toplink {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 18.5%;
  left: 77.25%;
  width: 116px;
  padding: 1em 1.5em;
}

#top:hover {
  background-color: #7dbbf1;
}

.link-header{
  font-size: x-large;
}

.button{
  background-color: #FF6766;
  line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
  width:100%;
}

.button {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.button span {
	transition: all 0.3s;
}
.button::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.button:hover span {
	letter-spacing: 2px;
}
.button::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.button::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.button:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}